/**
 *  私有颜色变量
 */
$font-size-15 = 15px
/*
  团长私有颜色
 */

$color-white = #ffffff

// 图片占位颜色
$image-color = #F5F5F9
//$image-color = rgba(0, 0, 0, 0)


/*惯性滚动*/
.ios-scroll-smooth
  -webkit-overflow-scrolling: touch

/*隐藏scroll*/
.no-scroll-bar
  ::-webkit-scrollbar
    width: 0
    height: 0
    color: transparent
